html, body {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 60px;
  background: #c3c3c3;
}

#popup-root {
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  border: 5px solid #777070;
}

#title {
  font-size: 16px;
  text-align: center;
  padding: 0px;
  color: #504c4c
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#run-manual {
  background-color: #6b6565;
  color: #d1d0d0;
  padding: 5px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prev-highlight, 
#next-highlight {
  color: #6b6565;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 20px;
}

#run-manual:hover {
  background-color: #777070;
}

#prev-highlight:hover,
#next-highlight:hover {
  color: #777070;
}